{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% if object %}Edit Appointment{% else %}Add Appointment{% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/appointment_form.css' %}">

</head>
<body>
    <div class="page-header">
        {% if object %}
            <h1>Edit Appointment 🗓️</h1>
        {% else %}
            <h1>Add Appointment 🗓️</h1>
        {% endif %}
    </div>

    <div class="form-container">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-submit">Submit</button>
            <a href="{% url 'dashboard' %}" class="btn btn-cancel">Cancel</a>
        </form>
    </div>
  

</body>
</html>
